<<div id="page-content">
  <h1 class="text-center mt-4">Edit article</h1>

  <%= render 'form' %>

<% if false %> THIS IS COMMENTED OUT CODE.
<%= link_to 'Cancel and return to articles listing', articles_path %>
<% end %>

</div>
