<div id="page-content">
  <h1 class="text-center mt-4">Create a new article</h1>

  <%= render 'form' %>

<% if false %> THIS IS COMMENTED OUT CODE.
<%= link_to 'Return to articles listing', articles_path %>
<% end %>

</div>
